<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login And Registration</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'login_reg/css/style.css' %}">
  </head>
  <body>
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
    {% endif %}
    <div id="login">
      <h2>Login</h2>
      <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        Email: <input type="email" name="email" placeholder="email@email.com">
        Password: <input type="password" name="password" placeholder="password">
        <input class="buttons" type="submit" value="Login">
      </form>
    </div>
    <p>Not registered yet?  Please Register below!</p>
    <div id="registration">
      <h2>Register</h2>
      <form action="{% url 'users:register' %}" method="post">
        {% csrf_token %}
        First Name: <input type="text" name="first_name" placeholder="First name">
        Last Name: <input type="text" name="last_name" placeholder="Last name">
        Email: <input type="email" name="email" placeholder="email@email.com">
        Password: <input type="password" name="password" placeholder="password (8+ characters)">
        Confirm Password: <input type="password" name="confirm_pw" placeholder="Confirm (Must match Password)">
        <input class="buttons" type="submit" value="Register">
      </form>
    </div>
  </body>
</html>